/* RESET */
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

/* COMMON */
.container{
    width:90%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* HEADER */
header{
    height: 80px;
    background-color: black;
}

.header-icons{
    margin: 5px;
    float: right;
}

.header-icons>*{
    color: white;
    padding: 5px;
    border-radius: 3px;
    background-color: #4a4a4a;
}

.header-icons>i{
    padding: 6px;
}

.speaker{
    display: inline-block;
}

/* MAIN */
main{
    background-color: black;
}

.cards-layout{
    flex-wrap: wrap;
}

.card-layout{
    padding: 5px;
}

.card-content{
    position: relative;
}

.username{
    color: white;
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 5px;
    /* Overlay */
    background-color: rgba(0,0,0,0.4);
}
